<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

        <title><%= `${vathultInfo[0].name ? vathultInfo[0].name : vathultInfo[0].serial_number}` %> Overview</title>

    </head>

    <body>

        <h1><%= `${vathultInfo[0].name ? vathultInfo[0].name : vathultInfo[0].serial_number}` %></h1>

        <form action="/device/<%= vathultInfo[0].id %>/setoutputs" method="POST">
            <h2>Overview</h2>
            <p>Online since : <%= `${vathultInfo[0].last_seen === null ? "Never been online before" : vathultInfo[0].last_seen}` %></p>
            <p>* Input type : <%= `${vathultInfo[0].input === null ? "Pending..." : vathultInfo[0].input}` %></p>
            <% if  (vathultInfo[0].input) { %>
                --> Set New Input type : <select class="skill" id="input" name="input">
                    <option value="none" disabled selected hidden>Select a value</option>
                    <option value="rain">Rain</option>
                    <option value="tap">Tap</option>
                    <option value="none">None</option>
                </select> 
            <% } %>

            <p>* flow : <%= `${vathultInfo[0].flow === null ? "Pending..." : vathultInfo[0].flow}` %></p>

            <% for(i = 1; i < 5; i++) { %>
                <p>* Vavle <%= i %> : <%= `${vathultInfo[0][`output${i}`] === null ? "Pending..." : vathultInfo[0][`output${i}`]}` %></p>

                <% if  (vathultInfo[0][`output${i}`] != null) { %>
                    <input type="checkbox" id="output<%= i %>" name="output<%= i %>">
                    <label for="output<%= i %>">Switch state Valve <%= i %></label>
                <% } %>
            <% } %>
            
            <p>* Water alert : <%= `${vathultInfo[0].water_alert === null ? "Pending..." : vathultInfo[0].water_alert}` %></p>
            <p># Messages : <%= `${vathultInfo[0].messages === null ? "Pending..." : vathultInfo[0].messages}` %></p>
            <p># Wi-Fi Strength : <%= `${vathultInfo[0].wifi_strength === null ? "Pending..." : vathultInfo[0].wifi_strength}` %></p>
            <p># Wi-Fi SSID : <%= `${vathultInfo[0].wifi_ssid === null ? "Pending..." : vathultInfo[0].wifi_ssid}` %></p>
            <p>[i] Serial Number : <%= vathultInfo[0].serial_number %></p>
            <br>
            <button type="submit">Save changes</button>
        </form>

        <br><br>

        <form action="/devices" method="GET">

            <button type="submit">My Vathys</button>

        </form>

        <form action="/dashboard" method="GET">

            <button type="submit">Dashboard</button>

        </form>

        <br>

        <form action="/device/<%= vathultInfo[0].id %>/remove" method="POST">

            <button type="submit">Remove <%= `${vathultInfo[0].name ? vathultInfo[0].name : vathultInfo[0].serial_number}` %></button>

        </form>

        <br>

        <form action="/logout?_method=DELETE" method="POST">

            <button type="submit">Log Out</button>

        </form>

    </body>
</html>
