<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

        <title><%= `${vathultInfo[0].name ? vathultInfo[0].name : vathultInfo[0].serial_number}` %> Overview</title>

    </head>

    <body>

        <h1><%= `${vathultInfo[0].name ? vathultInfo[0].name : vathultInfo[0].serial_number}` %></h1>


        <h2>Overview</h2>
        <p>Online since <%= vathultInfo[0].last_seen %> </p>
        <p>* Input type : <%= vathultInfo[0].input %></p>
        <p>* flow : <%= vathultInfo[0].flow %></p>
        <p>* Vavle 1 : <%= vathultInfo[0].output1 %></p>
        <p>* Vavle 2 : <%= vathultInfo[0].output2 %></p>
        <p>* Vavle 3 : <%= vathultInfo[0].output3 %></p>
        <p>* Vavle 4 : <%= vathultInfo[0].output4 %></p>
        <p>* Water alert : <%= vathultInfo[0].water_alert %></p>
        <p># Messages : <%= vathultInfo[0].messages %></p>
        <p># Wi-Fi Strength : <%= vathultInfo[0].wifi_strength %></p>
        <p># Wi-Fi SSID : <%= vathultInfo[0].wifi_ssid %></p>
        <p>[i] Serial Number : <%= vathultInfo[0].serial_number %></p>


        <form action="/devices" method="GET">

            <button type="submit">My Vathys</button>

        </form>

        <form action="/dashboard" method="GET">

            <button type="submit">Dashboard</button>

        </form>

        <br>

        <form action="/device/<%= vathultInfo[0].id %>/remove" method="POST">

            <button type="submit">Remove <%= `${vathultInfo[0].name ? vathultInfo[0].name : vathultInfo[0].serial_number}` %></button>

        </form>

        <br>

        <form action="/logout?_method=DELETE" method="POST">

            <button type="submit">Log Out</button>

        </form>

    </body>
</html>